@import '../../../scss/variables';

.container { 
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;

    h3 {
         font-weight: 500;
         padding-top: 10px;
    }

    .weather-form {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .form-control {
            display: flex;
            flex-direction: row;
            align-items: center;

             label {
                margin-right: 10px;
             }
             select {
                width: 160px;
                border: none;
                outline: none;
                background-color: $grey;
                padding: 10px;
                cursor: pointer;
             }
        }
    }

    .weather-container {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .weather-item {
            p {
                padding:0px 10px;
                display: inline;
            }

            .weather-item-temp {
                border-right: 2px solid $darkgrey;
            }
        }
    }
}


@media screen and (max-width: 600px) {

    .container {

        .weather-form {
            flex-direction: column;

            .form-control {
                justify-content: space-between;
            }

            input {
                margin-top: 10px;
            }
        }
    }
  }