@import '../scss/variables';

.main-container {
    width: 500px;
    height: auto;
    text-align: center;
    margin: 50px;
    border: 5px solid $darkgrey;
}



@media (max-width: 600px) {
    .main-container {
        width: auto;
        margin: 10px;
    }
  }