<div class="container">

    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="text">Task</label>
            <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">
        </div>
        <div class="form-control">
            <label for="text">Time</label>
            <input type="time" name="time" [(ngModel)]="time" id="time" placeholder="Add Time">
        </div>
        <input type="submit" value="Save Task!" class="btn">
    </form>

</div>
